.header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

.banner {
    width: 100%;
    height: 300px; 
    overflow: hidden; 
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}